<body>
	<h2>Add New Company</h2>

	<script src="/javascripts/angular.js"></script>
	<script src="/javascripts/AddCompany.js"></script>

	<form  ng-app="myApp"  ng-controller="enterform" name="myForm" >

		<p>
			Name:
			<br>
			<input type="text" name="name" ng-model="company.name" required>
			<span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid"> <span ng-show="myForm.name.$error.required">Name is required.</span> </span>
		</p>

		<p>
			Address:
			<br>
			<input type="text" name="address" ng-model="company.address" required>
			<span style="color:red" ng-show="myForm.address.$dirty && myForm.address.$invalid"> <span ng-show="myForm.address.$error.required">Address is required.</span> </span>
		</p>

		<p>
			City:
			<br>
			<input type="text" name="city" ng-model="company.city" required>
			<span style="color:red" ng-show="myForm.city.$dirty && myForm.city.$invalid"> <span ng-show="myForm.city.$error.required">City is required.</span> </span>
		</p>

		<p>
			Country:
			<br>
			<input type="text" name="country" ng-model="company.country" required>
			<span style="color:red" ng-show="myForm.country.$dirty && myForm.country.$invalid"> <span ng-show="myForm.country.$error.required">Country is required.</span> </span>
		</p>

		<p>
			Email:
			<br>
			<input type="email" name="email" ng-model="company.email">
			<span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid"> <span ng-show="myForm.email.$error.email">Invalid Email address.</span> </span>
		</p>

		<p>
			Phone:
			<br>
			<input type="text" name="phone" ng-model="company.phno">
			<span style="color:red" ng-show="myForm.phone.$dirty && myForm.phone.$invalid"> </span>
		</p>

		<!-- <p>
		Passport Copy:
		<form action="/upload" method="post" enctype="multipart/form-data">
		<input type="file" name="myfile"  multiple />
		<input type="submit" value="Upload File"/>
		</form>
		</p> -->

		<br>

		<button ng-click="addInputItem()">
			Add Director or Sponsor
		</button>
		<div ng-repeat="item in directors">
			<!-- <input ng-model="item.value" type="text"  size="40"> -->
			<p>
				Name:
				<input type="text"  name="directorname" ng-model="item.name" size="40" required="">
				<span style="color:red" ng-show="myForm.directorname.$dirty && myForm.directorname.$invalid"> <span ng-show="myForm.directorname.$error.required">Name is required.</span>
			</p>
			<!-- Passport Copy: <input type="file" ng-file-select="" ng-model="item.fileLoc" name="file" accept="application/pdf" onchange="angular.element(this).scope().fileNameChanged(this)" required=""><br><br> -->

			<!-- <p>
				Passport Copy:
				<form action="/upload" method="post" enctype="multipart/form-data">
					<input type="file" name="myfile" ng-model="item.fileLoc"  multiple />
					<input type="submit" value="Upload File"/>
				</form>
			</p> -->
		</div>
		<p>
			<input type="submit" ng-click="submit()"
			ng-disabled="myForm.name.$dirty && myForm.name.$invalid || myForm.name.$pristine || myForm.address.$dirty && myForm.address.$invalid || myForm.address.$pristine || myForm.city.$dirty && myForm.city.$invalid || myForm.city.$pristine || myForm.country.$dirty && myForm.country.$invalid || myForm.country.$pristine ||
			myForm.email.$dirty && myForm.email.$invalid">
			{{ resultData }}
		</p>

	</form>

</body>