<!DOCTYPE html>
<html>

	<head>
		<script src="/javascripts/angular.js"></script>
		<script src="/javascripts/FileUpload.js"></script>
	</head>

	<body>
		<h2>Add Director or Beneficial Owner Passport pdf </h2>

		<div  ng-app="myApp"  ng-controller="enterform" name="myForm" novalidate>

			<!-- <input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)"/> -->

			<form action="{{ '/upload/' + directorId }}" method="post" enctype="multipart/form-data">
				Enter Director Id:
				<input type="number" ng-model="directorId" size="40" required>
				<input type="file" name="myfile" file-upload accept="application/pdf" single required/>
				<input type="submit" value="Upload File"/>
			</form>

			<!-- <input type="file" name="myfile" file-model="myFile"/>
			<button ng-click="uploadFile()">
			upload me
			</button> -->
		</div>

	</body>
</html>