<html>
	<head>
		<title>Companies Data Application</title>
	</head>
	<body>
		<a href="./">AddCompany</a>
		<a href="./GetCompany">GetCompany</a>
		<a href="./GetAllCompanies">GetAllCompanies</a>
		<a href="./UpdateCompany">UpdateCompany</a>
		<a href="./FileUpload">FileUpload</a>
		<a href="./DeleteCompany">DeleteCompany</a>
		<div id="content">
			<%= yield %>
		</div>
	</body>
</html>